<div class="overlay database-overlay" ng-class="{true: 'sr-only', false: ''}[activeDataset.data]"></div>

<ul class="nav navbar-nav overlay-above">
    <li class="dropdown">
        <a data-toggle="dropdown" ng-bind="activeDataset.name" class="dropdown-toggle primary" href="#" ng-click="activeDataset.info = 'sr-only'"><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li ng-repeat="dataset in datasets" ng-class="{true: 'active', false: ''}[dataset.name == activeDataset.name]">
            <a href="#" ng-click="connectToPreset($index)" ng-bind="dataset.name"></a>
            </li>

            <li class="divider" ng-hide="hideAdvancedOptions"></li>

            <li ng-class="{true: 'active', false: ''}[activeDataset.custom || !(datasets.length > 0)]" ng-hide="hideAdvancedOptions">
            <a data-toggle="modal" href="#customConnectionModal" ng-click="selectCustom()">Custom...</a>
            </li>
        </ul>
    </li>

    <div class="popover fade bottom in {{activeDataset.info}} start-here" style="display: block; top: 51px;">
        <div class="arrow"></div>
        <h3 class="popover-title">Start here!</h3>
        <div class="popover-content">
            <p>Please select a dataset from the menu or create your own custom dataset.</p>
        </div>
    </div>
</ul>

<wizard on-finish="setDataset" total-steps="5">
    <datastore-step class="wizard-step" step-number="1" store-select="storeSelect" host-name="hostName" datasets="datasets"></datastore-step>
    <database-step class="wizard-step" step-number="2"></database-step>
    <fields-step class="wizard-step" step-number="3"></fields-step>
    <relations-step class="wizard-step" step-number="4"></relations-step>
    <layout-step class="wizard-step" step-number="5"></layout-step>
</wizard>
