<div class="legend dropdown-legend pull-left" ng-class="{true: 'open', false: ''}[active.legend.show]" ng-show="active.layers.length">
    <div class="legend-toggle text" ng-click="toggleLegend()">
        <span>Legend</span>
    </div>
    <div class="divider" ng-show="active.legend.show"></div>
    <div class="legend-details" ng-show="active.legend.show">
        <div class="legend-layer" ng-repeat="legendLayer in active.legend.layers">
            <div class="legend-title" ng-click="toggleLegendLayer($index)">
                <span class="text" ng-bind="legendLayer.name"></span>
                <span class="glyphicon glyphicon-chevron-down pull-right" ng-show="!legendLayer.show"></span>
                <span class="glyphicon glyphicon-chevron-up pull-right" ng-show="legendLayer.show"></span>
            </div>
            <div class="node-title" ng-show="legendLayer.show && legendLayer.nodeColorMappings">
                <span>Nodes</span>
            </div>
            <div class="legend-item" title="{{category}}" ng-repeat="(category, color) in legendLayer.nodeColorMappings"
                ng-show="legendLayer.show && legendLayer.nodeColorMappings">
                <span class="legend-icon" style="background-color: {{color}}"></span>
                <span class="legend-text" ng-bind="category"></span>
            </div>
            <div class="node-title" ng-show="legendLayer.show && legendLayer.lineColorMappings">
                <span>Lines</span>
            </div>
            <div class="legend-item" title="{{category}}" ng-repeat="(category, color) in legendLayer.lineColorMappings"
                ng-show="legendLayer.show && legendLayer.lineColorMappings">
                <span class="legend-icon" style="background-color: {{color}}"></span>
                <span class="legend-text" ng-bind="category"></span>
            </div>
            <div class="legend-item" title="{{category}}" ng-repeat="(category, color) in legendLayer.colorMappings"
                ng-show="legendLayer.show && legendLayer.colorMappings">
                <span class="legend-icon" style="background-color: {{color}}"></span>
                <span class="legend-text" ng-bind="category"></span>
            </div>
        </div>
    </div>
</div>

<filter-notification get-data="getFilterData" get-desc="createFilterDesc" get-links-popup-key="getLinksPopupBoundsKey" remove="removeFilter"
    show-links-popup-button="showLinksPopupButton" visualization-id="visualizationId"></filter-notification>
