<div class="header-container" ng-show="!(hideHeader)">
    <div class="title header-text pull-left" ng-bind="generateTitle()"></div>

    <options-menu parent-element="element" export-function="makeBarchartExportObject" button-text="optionsMenuButtonText" show-button-text="showOptionsMenuButtonText">
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Database</label>
            <select class="form-control" ng-model="options.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Table</label>
            <select class="form-control" ng-model="options.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Group Field (X Axis)</label>
            <select class="form-control" ng-model="options.attrX" ng-options="field.prettyName for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Aggregation</label>
            <select ng-model="options.barType" class="form-control">
                <option value="count">Count</option>
                <option value="sum">Sum</option>
                <option value="average">Average</option>
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions) && (options.barType !== 'count')">
            <label>Aggregation Field (Y Axis)</label>
            <select class="form-control" ng-model="options.attrY" ng-options="field.prettyName for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
            </select>
        </div>

        <div class="form-group">
            <label>Group (Bar) Limit</label>
            <div class="input-group">
                <input type="number" min="1" class="form-control" ng-model="options.limitCount" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default refresh" title="Refresh" ng-click="handleChangeLimit()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Unshared Filter</label>
            <select class="form-control" ng-model="options.filterField" ng-required="false" ng-disabled="!(fields.length > 0)" ng-options="field.prettyName for field in fields" ng-change="handleChangeUnsharedFilterField()">
                <option selected value="">None</option>
            </select>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{'Filter for ' + options.filterField.prettyName + '...'}}" ng-model="options.filterValue" ng-disabled="!(options.filterField.columnName)">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default refresh" title="Remove Unshared Filter" ng-disabled="(options.filterField.columnName == undefined || options.filterValue == '')" ng-click="handleRemoveUnsharedFilter()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-default refresh" title="Set Unshared Filter" ng-click="handleChangeUnsharedFilterValue()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </div>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container">
    <div class="header-item filter-reset pull-right" ng-class="{true: 'hidden', false: ''}[filterSet === undefined]" title="{{filterSet.key}}={{filterSet.value}}">
        <links-popup-button key="{{generateLinksPopupKey(filterSet.value)}}" source="{{visualizationId}}" tooltip="{{filterSet.value}}" is-disabled="{{linksPopupButtonIsDisabled}}"></links-popup-button>
        <span class="filter-label" ng-bind="filterSet.value"></span>
        <span class="glyphicon glyphicon-remove" ng-click="clearFilterSet()"></span>
    </div>

    <div class="legend">
        <div class="legend-item" title="{{getLegendText()}}">
            <span class="legend-icon" style="background-color: #39b54a"></span>
            <span class="legend-text" ng-bind="getLegendText()"></span>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="barchart chart-div"></div>
