.DS_Store
.idea
.orig
.swp
.tmp
!.gitkeep
client/bower_components
client/app/app.css
client/app/themes/dark-green.css
client/app/themes/dark-purple.css
client/app/themes/light-green.css
dist/
config.json
*.config.json
config.yaml
*.config.yaml
docs/
logs/*
node_modules/
reports/
target/
tmp
version.json
