.DS_Store
.idea
.orig
.swp
.tmp
!.gitkeep
app/lib
app/css/app.css
app/css/dark-green.css
app/css/dark-purple.css
app/css/light-green.css
build
bower_components/
config.json
*.config.json
config.yaml
*.config.yaml
docs/
logs/*
node_modules/
reports
target/
tmp
version.json
