.DS_Store
.idea
.orig
.swp
!.gitkeep
app/lib
app/css/app.css
bower_components/
config.json
*.config.json
config.yaml
*.config.yaml
docs/
logs/*
node_modules/
reports
target/
tmp
version.json
app/build
