@main-background: #F1F1F1;
@main-background-lighten: lighten(@main-background, 4%);
@main-background-darken: darken(@main-background, 6%);
@light-background: #FFFFFF;


@accent-bright: #39B54A;
@accent-light: #7CE98E;
@accent-dark: #2F9F3E;
@accent-dulled: #88d292;


@main-text-color: #777777;
@light-text-color: #FFFFFF;
@mid-text-color: #333333;


@error-text-color: #AA1E13;
@error-color: #C2360D;
@error-dark-color: #AA1E13;


@border-color: #CCCCCC;
@shadow: rgba(0, 0, 0, 0.2);
@text-shadow-color: #FFFFFF;
@border: 1px solid @border-color;
@shadow-border: 1px solid @shadow;


@chart-text-color: #444444;
@chart-axis-color: #CCCCCC;
@light-chart-axis-color: #EEEEEE;
@chart-empty-dot-color: #FFFFFF;
@chart-line-color: #999999;


@widget-height: 100%;
@widget-width: 100%;
@mobile-widget-height: 400px;
@mobile-widget-width: 100%;


@tooltip-background: rgba(255,255,255,0.9);