.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

div.draw-button-div {
    padding-left: 0px;
}

div.config-row-div {
    /*padding: 10px 5px 5px 5px;*/
    padding-bottom: 5px;
}

div.graph-tooltip {
    position: absolute;
    text-align: center;
    /*width: 50px;*/
    height: 20px;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.directed-graph {
    height: 100%;
    width: 100%;
}

div.directed-graph div.directed-graph-container {
    height: 100%;
    width: 100%;
}

.directedGraphDirective {
    padding: 20px;
    height: 100%;
    width: 100%;
}
