.sunburst-directive {
  padding: 20px;
}

.sunburst-directive .form-input-group {
  margin: 0px 5px 5px 0px;
  width: auto;
}

.sunburst-controls  {
  width:100%;
  margin-bottom: 10px;
}

.sunburst-breadcrumb {
  display: inline;
  margin: 0px 3px;
  white-space: nowrap;
}

.sunburst-transient-breadcrumb {
  display: inline;
  margin: 0px 0px;
}

.sunburst-transient-breadcrumb .breadcrumb-title {
  text-decoration: none;
}

.sunburst-transient-breadcrumb:hover .breadcrumb-title,
.sunburst-transient-breadcrumb:focus .breadcrumb-title {
  color: #a00;
}

.sunburst-transient-breadcrumb .breadcrumb-remove {
  color: #a00;
  display: none;
  text-decoration: none;
}

.sunburst-transient-breadcrumb:hover .breadcrumb-remove,
.sunburst-transient-breadcrumb:focus .breadcrumb-remove {
  display: inline;
}

.sunburst-chart path {
  stroke: #fff;
  fill-rule: evenodd;
  opacity: .8;
}

.sunburst-chart path:hover {
  opacity: 1;
}

.sunburst-chart text {
  pointer-events: none;
}

.sunburst-tooltip {
  position:absolute;
  top: 5px;
  left:5px;
  z-index: 10000;
  padding: 10px;
  background-color: rgba(225,225,225,0.9);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  pointer-events: none;
  color: #000;
  opacity: 0;
}

.sunburst-tooltip-title {
  font-weight: bold;
  font-size: 18px;
}

.sunburst-tooltip-field {
  font-weight: bold;
}

.visualization-widget .sunburst-directive {
  height: 100%;
  width: 100%;
}

.visualization-widget-mobile .sunburst-directive {
  min-height: 400px;
  width: 100%;
}
