.visualization-widget {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.visualization-drag-handle {
    cursor: move;
    position: absolute;
    padding: 0px 10px;
    height: 25px;
    width: 100%;
    z-index: 1050;
    opacity: 0;
}

.visualization-drag-handle:hover, .visualization-drag-handle:focus {
    background-color: #dddddd;
    opacity: 0.75;
}

.visualization-drag-handle button {
    line-height: 16px;
    margin: 4px 0px 4px 5px;
    padding: 0px;
    height: 16px;
    width: 16px;
    z-index: 1065;
}

.visualization-drag-handle:hover .glyphicon-remove {
    opacity: 1;
    color: #f00;
}

.visualization-drag-handle:hover .glyphicon-resize-full, .visualization-drag-handle:hover .glyphicon-resize-small {
    opacity: 1;
    color: #39b54a;
}

.visualization-widget-mobile {
    min-height:200px;
    margin: 0px;
    padding: 0px;
}

.visualization-widget-mobile .visualization-drag-handle {
    display:none;
}