/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-Error_16x16 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -336px -86px;
  width: 16px;
  height: 16px;
}
.icon-Error_64x64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -192px -192px;
  width: 64px;
  height: 64px;
}
.icon-FilterTray_34x34 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -320px 0px;
  width: 34px;
  height: 34px;
}
.icon-Help_34x34 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -286px -256px;
  width: 34px;
  height: 34px;
}
.icon-Neon_16x16 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -320px -86px;
  width: 16px;
  height: 16px;
}
.icon-Neon_60x34 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -192px -256px;
  width: 60px;
  height: 34px;
}
.icon-Options_34x34 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -252px -256px;
  width: 34px;
  height: 34px;
}
.icon-Translated_20x20 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -320px -66px;
  width: 20px;
  height: 20px;
}
.icon-Twitter_32x32 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -320px -34px;
  width: 32px;
  height: 32px;
}
.icon-BarChart64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -192px 0px;
  width: 64px;
  height: 64px;
}
.icon-Count64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -192px -64px;
  width: 64px;
  height: 64px;
}
.icon-CreateFilter64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -192px -128px;
  width: 64px;
  height: 64px;
}
.icon-CustomFilterList64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: 0px -192px;
  width: 64px;
  height: 64px;
}
.icon-Gantt64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -64px -192px;
  width: 64px;
  height: 64px;
}
.icon-Graph64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -128px -192px;
  width: 64px;
  height: 64px;
}
.icon-LineChart64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icon-Map64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -256px 0px;
  width: 64px;
  height: 64px;
}
.icon-News64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -256px -64px;
  width: 64px;
  height: 64px;
}
.icon-OPS64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -256px -128px;
  width: 64px;
  height: 64px;
}
.icon-OpsClock64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -256px -192px;
  width: 64px;
  height: 64px;
}
.icon-PieChart64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: 0px -256px;
  width: 64px;
  height: 64px;
}
.icon-ScatterPlot64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -64px -256px;
  width: 64px;
  height: 64px;
}
.icon-Sunburst64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -128px -256px;
  width: 64px;
  height: 64px;
}
.icon-TagCloud64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -128px -128px;
  width: 64px;
  height: 64px;
}
.icon-Timeline64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -64px -128px;
  width: 64px;
  height: 64px;
}
.icon-ViewData64 {
  background-image: url(../assets/images/spritesheet.png);
  background-position: 0px -128px;
  width: 64px;
  height: 64px;
}
.icon-Bar-Chart {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -128px -64px;
  width: 64px;
  height: 64px;
}
.icon-Create-Filter {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -128px 0px;
  width: 64px;
  height: 64px;
}
.icon-Graph {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -64px -64px;
  width: 64px;
  height: 64px;
}
.icon-LineChart {
  background-image: url(../assets/images/spritesheet.png);
  background-position: 0px -64px;
  width: 64px;
  height: 64px;
}
.icon-PieChart {
  background-image: url(../assets/images/spritesheet.png);
  background-position: -64px 0px;
  width: 64px;
  height: 64px;
}
