<!-- An ng-controller is added before compilation. -->
<div class="visualization {{type + 'Directive'}}" active="active" bindings="bindings" fields="fields" functions="functions">
    <div class="header-container" ng-hide="bindings.hideHeader">
        <div class="title header-text pull-left" ng-bind="createTitle()"></div>

        <options-menu parent-element="element" export-function="makeExportObject" button-text="optionsMenuButtonText" show-button-text="showOptionsMenuButtonText">
            <translation-options ng-show="translationsOn" on-translate="handleToggleTranslations"
                from-language-change="handleChangeFromLanguage" to-language-change="handleChangeToLanguage"
                from-language-options="languages.fromLanguageOptions" to-language-options="languages.toLanguageOptions">
            </translation-options>

            <div class="form-group" ng-hide="bindings.hideAdvancedOptions">
                <label>Database</label>
                <select class="form-control" ng-model="active.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="handleChangeDatabase()">
                </select>
            </div>

            <div class="form-group" ng-hide="bindings.hideAdvancedOptions">
                <label>Table</label>
                <select class="form-control" ng-model="active.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="handleChangeTable()">
                </select>
            </div>

            <visualization-options class="visualization-options" active="active" bindings="bindings" fields="fields" functions="functions"></visualization-options>

            <div class="form-group" ng-hide="bindings.hideAdvancedOptions">
                <label>Unshared Filter</label>
                <select class="form-control" ng-model="active.unsharedFilterField" ng-required="false" ng-disabled="!(fields.length > 0)" ng-options="field.prettyName for field in fields" ng-change="handleChangeUnsharedFilterField()">
                    <option selected value="">None</option>
                </select>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{'Filter for ' + active.unsharedFilterField.prettyName + '...'}}" ng-model="active.unsharedFilterValue" ng-disabled="!(active.unsharedFilterField.columnName)">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default refresh" title="Remove Unshared Filter" ng-disabled="(active.unsharedFilterField.columnName == undefined || active.unsharedFilterValue == '')" ng-click="handleRemoveUnsharedFilter()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default refresh" title="Set Unshared Filter" ng-click="handleChangeUnsharedFilterValue()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>
        </options-menu>
    </div>

    <div class="clearfix"></div>

    <!-- Shrink the container instead of hiding it in order to trigger a resize event. -->
    <div class="header-container filter-container" ng-class="{true: 'shrink', false: ''}[functions.hideHeaders()]">
        <visualization-headers class="visualization-headers" active="active" functions="functions"></visualization-headers>
    </div>

    <div class="clearfix"></div>

    <visualization-display id="{{visualizationId}}" class="visualization-display" active="active" functions="functions"></visualization-display>
</div>

