<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Neon</title>

        <link type="image/png" rel="shortcut icon" href="img/Neon_16x16.png">

        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="lib/jquery-ui/themes/ui-lightness/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="lib/jquery-ui/themes/ui-lightness/jquery.ui.theme.css">
        <link rel="stylesheet" type="text/css" href="js/vendor/slick-grid/css/slick.grid.css">
        <link rel="stylesheet" type="text/css" href="lib/angular-gridster/css/angular-gridster.min.css">
        <link rel="stylesheet" type="text/css" href="lib/angular-gantt/css/angular-gantt.min.css">
        <link rel="stylesheet" type="text/css" href="lib/angular-gantt/css/angular-gantt-plugins.min.css">
        <link rel="stylesheet" type="text/css" href="lib/angular-ui-tree/css/angular-ui-tree.min.css">

        <link rel="stylesheet" type="text/css" href="css/app.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="lib/html5shiv.js"></script>
        <script src="lib/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="ng-hide" ng-controller="neonDemoController" ng-show="displayDashboard">

        <!-- Header -->
        <!-- This could be made into either a directive or a partial -->
        <nav role="navigation" class="navbar">
            <div class="navbar-default navbar-static-top" data-spy="{true: '', false: 'affix'}[hideNavbarItems]">
                <div class="container">

                    <div class="pull-left" ng-show="hideNavbarItems">
                        <span class="navbar-text navbar-title-text">
                            {{navbarTitle}}
                        </span>
                    </div>

                    <div powered-by-neon class="pull-right"></div>

                    <div class="clearfix visible-xs"></div>

                    <!-- Database Config -->
                    <database-config gridster-configs="visualizations" ng-hide="hideNavbarItems"></database-config>

                    <!-- Add visualization control -->
                    <div add-visualization gridster-configs="visualizations" ng-hide="hideNavbarItems"></div>

                    <!--
                    <ul class="nav navbar-nav" ng-hide="hideNavbarItems">
                        <li>
                            <a data-toggle="collapse" data-parent="#trays" href=".filter-tray" class="collapsed"
                                ng-click="toggleCreateFilters()">
                                <span class="glyphicon glyphicon-filter"></span>
                                Create Filters
                                <span class="label label-primary" ng-bind="filterCount" ng-class="{true: '', false: 'hidden'}[filterCount > 0]"></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="collapse" data-parent="#trays" href=".data-tray" class="collapsed"
                               ng-click="toggleSeeData()">
                                <span class="glyphicon glyphicon-list"></span> View Data
                            </a>
                        </li>
                        -->
                        <!-- <li>
                            <a data-toggle="collapse" data-parent="#trays" href=".query-tray" class="collapsed">
                                <span class="glyphicon glyphicon-pencil"></span> Write Query
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Trays -->
        <div class="panel-group" id="trays" ng-hide="hideNavbarItems">

            <!-- Filter Builder tray -->
            <!--
            <div class="tray-mirror filter-tray collapse">
                <div class="inner" style="height: 134px"></div>
            </div>

            <div id="filter-tray" class="tray filter-tray panel panel-default collapse">
                <div class="container panel-body">
                    <div filter-builder navbar-item="(true)" filter-count="filterCount"></div>
                </div>
            </div>
            -->

            <!-- See Data tray -->
            <!--
            <div class="tray-mirror data-tray collapse">
                <div class="inner" style="height: 394px"></div>
            </div>

            <div id="data-tray" class="tray data-tray panel panel-default collapse">
                <div class="container panel-body">
                    <div query-results-table show-data="seeData" navbar-item="(true)"></div>
                </div>
            </div>
            -->

            <!-- Query Builder tray -->
            <!-- <div>

                <div class="tray-mirror query-tray collapse">
                  <div class="inner" style="height: 223px"></div>
                </div>
                <div id="query-tray" class="tray query-tray panel panel-default collapse">

                  <div class="container panel-body">

                    <a class="pull-right" data-toggle="modal" href="#queryHelpModal">Help <span class="glyphicon glyphicon-question-sign"></span></a>

                    <h4>Write your own query</h4>

                    <textarea class="form-control" rows="5"></textarea>

                    <button type="button" class="btn btn-primary pull-right">
                      Run Query
                    </button>

                  </div>
                </div>

                <div class="modal fade" id="queryHelpModal" tabindex="-1" role="dialog" aria-labelledby="queryHelpModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="queryHelpModalLabel">Custom Query Instructions</h4>
                            </div>
                            <div class="modal-body">
                                Helpful info here.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->

        </div>

        <!-- DASHBOARD CONTENT -->
        <div class="container">

            <!-- Use gridster to manage visualization layouts. -->
            <div gridster="gridsterOpts" id="gridster-div">
                <ul>
                    <li gridster-item="visualization" ng-repeat="visualization in visualizations track by visualization.id">
                        <div class="well" visualization-widget
                            gridster-configs="visualizations"
                            gridster-config-index="$index"
                            ng-class="(isInMobileMode())? 'visualization-widget-mobile' : 'visualization-widget'"></div>
                    </li>
                </ul>
            </div>

            <div id="tooltip-container"></div>

        </div>

        <links-popup></links-popup>

        <!-- Include the xdata logging package. -->
        <script src="lib/user-ale/js/userale.js"></script>
        <script src="lib/user-ale/js/userale-worker.js"></script>

        <!-- Including neon before angular here as neon has lodash and jquery wrapped into it.  If this is
             loaded first, angular should pick up the included jQuery. -->
        <script src="/neon/js/neon.js"></script>

        <script src="lib/jquery/js/jquery.min.js"></script>

        <!-- Include the opencpu library. OpenCPU needs to be included after JQuery and before the app config. -->
        <script src="lib/opencpu/js/opencpu-0.5.js"></script>

        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="lib/angular/js/angular.min.js"></script>
        <script src="lib/angular-gridster/js/angular-gridster.min.js"></script>
        <script src="lib/moment/js/moment.min.js"></script>
        <script src="lib/angular-moment/js/angular-moment.min.js"></script>
        <script src="lib/angular-gantt/js/angular-gantt.min.js"></script>
        <script src="lib/angular-gantt/js/angular-gantt-plugins.min.js"></script>
        <script src="lib/angular-ui-tree/js/angular-ui-tree.min.js"></script>
        <script src="lib/javascript-detect-element-resize/js/jquery.resize.js"></script>

        <!-- Include third party libs -->
        <script src="lib/d3/js/d3.min.js"></script>

        <script src="lib/openlayers/OpenLayers.js"></script>
        <script src="lib/heatmapjs/js/heatmap.min.js"></script>
        <script src="js/vendor/openlayers-heatmapjs/heatmap-openlayers.js"></script>
        <script src="lib/jquery.tagcloud/js/jquery.tagcloud.js"></script>
        <script src="lib/threedubmedia.jquery.event/js/jquery.event.drag.js"></script>
        <script src="lib/threedubmedia.jquery.event/js/jquery.event.drop.js"></script>
        <script src="lib/jquery.linky/js/jquery.linky.min.js"></script>
        <!-- <script src="lib/jquery/jquery-ui-1.8.16.custom.min.js"></script> -->
        <script src="lib/jquery-ui/js/jquery-ui.min.js"></script>
        <script src="js/vendor/slick-grid/js/slick.core.js"></script>
        <script src="js/vendor/slick-grid/js/slick.grid.js"></script>
        <script src="js/vendor/slick-grid/js/slick.dataview.js"></script>
        <script src="js/vendor/slick-grid/js/slick.autotooltips.js"></script>
        <script src="js/vendor/slick-grid/js/slick.rowselectionmodel.js"></script>
        <script src="lib/mergesort/js/merge-sort.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/remarkable-bootstrap-notify/js/bootstrap-notify.min.js"></script>

        <!-- Include required non-angular support modules -->
        <script src="js/neon-extensions/filtertable.js"></script>
        <script src="js/namespaces.js"></script>
        <script src="js/charts/barchart.js"></script>
        <script src="js/charts/directedGraph.js"></script>
        <script src="js/charts/linechart.js"></script>
        <script src="js/charts/timelineSelectorChart.js"></script>
        <script src="js/coremap/coremap.js"></script>
        <script src="js/coremap/heatmapLayer.js"></script>
        <script src="js/coremap/pointsLayer.js"></script>
        <script src="js/tables/table.js"></script>
        <script src="js/charts/sunburst.js"></script>

        <!-- Include our custom Angular components here for now. -->
        <script src="js/app.js"></script>
        <script src="js/connectionService.js"></script>
        <script src="js/datasetService.js"></script>
        <script src="js/errorNotificationService.js"></script>
        <script src="js/filterService.js"></script>
        <script src="js/neonDemoController.js"></script>

        <script src="js/charts/circularHeatChart.js"></script>

        <script src="js/directives/addVisualization.js"></script>
        <script src="js/directives/barchart.js"></script>
        <script src="js/directives/circularHeatChart.js"></script>
        <script src="js/directives/circularHeatForm.js"></script>
        <script src="js/directives/countBy.js"></script>
        <script src="js/directives/databaseConfig.js"></script>
        <script src="js/directives/directedGraph.js"></script>
        <script src="js/directives/filterBuilder.js"></script>
        <script src="js/directives/filterState.js"></script>
        <script src="js/directives/gantt-chart.js"></script>
        <script src="js/directives/linechart.js"></script>
        <script src="js/directives/linksPopup.js"></script>
        <script src="js/directives/map.js"></script>
        <script src="js/directives/optionsMenu.js"></script>
        <script src="js/directives/poweredByNeon.js"></script>
        <script src="js/directives/queryResultsTable.js"></script>
        <script src="js/directives/stackedBarchart.js"></script>
        <script src="js/directives/tagCloud.js"></script>
        <script src="js/time/dateBucketizer.js"></script>
        <script src="js/time/monthBucketizer.js"></script>
        <script src="js/time/yearBucketizer.js"></script>
        <script src="js/directives/timelineSelectorChart.js"></script>
        <script src="js/directives/timelineSelector.js"></script>
        <script src="js/directives/visualizationWidget.js"></script>
        <script src="js/directives/sunburst.js"></script>
        <script src="js/directives/arrayTextForm.js"></script>
    </body>
</html>
