<div class="text-cloud">
    <a ng-click="addFilter(item.key, item.keyTranslated)" class="text" ng-repeat="item in active.data" rel="{{item.count}}" title="{{'Count:  ' + item.count}}" ng-bind="item.key" ng-show="!active.showTranslations"></a>
    <a ng-click="addFilter(item.key, item.keyTranslated)" class="text" ng-repeat="item in active.data" rel="{{item.count}}" title="{{'Count:  ' + item.count + '  (Original:  ' + item.key + ')'}}" ng-bind="item.keyTranslated" ng-show="active.showTranslations"></a>
</div>
