<div class="form-group">
    <label>Tools (Hide & Reorder Columns)</label>
    <div class="btn-group">
        <label class="btn btn-default" ng-class="{true: 'active', false: ''}[active.gridOptions.showToolPanel]">
            <input type="radio" style="display:none" ng-model="active.gridOptions.showToolPanel" ng-value="true" ng-change="handleToggleToolPanel()">Show
        </label>
        <label class="btn btn-default" ng-class="{true: '', false: 'active'}[active.gridOptions.showToolPanel]">
            <input type="radio" style="display:none" ng-model="active.gridOptions.showToolPanel" ng-value="false" ng-change="handleToggleToolPanel()">Hide
        </label>
    </div>
    <div class="clearfix"></div>
</div>

<div class="form-group">
    <label>Sort By Field</label>
    <div class="input-group">
        <select class="form-control" ng-model="active.sortByField" ng-disabled="!(fields.length > 0)" ng-options="field.prettyName for field in fields" ng-change="handleChangeSortField()">
        </select>

        <div class="input-group-btn">
            <label class="btn btn-default active" ng-class="{true: 'active', false: ''}[active.sortDirection === active.ASCENDING]">
                <input type="radio" ng-model="active.sortDirection" style="display:none" ng-value="active.ASCENDING" ng-change="handleChangeSortDirection()">ASC
            </label>
            <label class="btn btn-default" ng-class="{true: 'active', false: ''}[active.sortDirection === active.DESCENDING]">
                <input type="radio" ng-model="active.sortDirection" style="display:none" ng-value="active.DESCENDING" ng-change="handleChangeSortDirection()">DESC
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Record Limit</label>
    <div class="input-group">
        <input type="number" min="1" class="form-control" ng-model="active.limit" required>
        <div class="input-group-btn">
            <button type="button" class="btn btn-default refresh" title="Refresh" ng-click="handleChangeLimit()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
    </div>
</div>
