<div class="legend" ng-show="active.legend">
    <div class="legend-item" ng-repeat="item in active.legend" title="{{item.text}}">
        <span class="legend-icon" style="background-color: {{item.color}}"></span>
        <span class="legend-text legend-text-large">{{item.text}}</span>
    </div>
</div>

<filter-notification get-data="getFilterData" get-desc="createFilterDesc" remove="removeFilter" visualization-id="visualizationId"></filter-notification>

<filter-notification get-data="getSelectedGroupNotificationData" get-remove-desc="createDeselectGroupDesc" remove="removeSelectedGroups"
    visualization-id="visualizationId"></filter-notification>
