<div class="header-container">
    <span class="header-text pull-left">{{options.selectedTable.name}}</span>

    <options-menu parent-element="element">
        <div class="form-group">
            <label>Table</label>
            <select class="form-control" ng-model="options.selectedTable" ng-options="table.name for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFieldsAndQueryForData()">
            </select>
        </div>
        <div class="form-group">
            <label>Group Field (X Axis)</label>
            <select class="form-control" ng-model="options.attrX" ng-options="field for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
            </select>
        </div>
        <div class="form-group">
            <label>Aggregation</label>
            <select ng-model="options.barType" class="form-control">
                <option value="count">Count</option>
                <option value="sum">Sum</option>
                <option value="average">Average</option>
            </select>
        </div>
        <div class="form-group" ng-show="(options.barType !== 'count')">
            <label>Value Field (Y Axis)</label>
            <select class="form-control" ng-model="options.attrY" ng-options="field for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
            </select>
        </div>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container">
    <div class="filter-reset pull-right" ng-class="{true: 'hidden', false: ''}[filterSet === undefined]">
        {{filterSet.key}}={{filterSet.value}}
      <a class="btn" ng-click="clearFilterSet()">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>

    <div class="legend">
        <div class="legend-item">
            <span class="legend-icon" style="background-color: #39b54a"></span>
            <span class="legend-text" ng-show="options.barType === 'average'">Average {{options.attrY}}</span>
            <span class="legend-text" ng-show="options.barType === 'sum'">Sum {{options.attrY}}</span>
            <span class="legend-text" ng-show="options.barType === 'count'">Count</span>
            <span class="legend-text" >vs {{options.attrX}}</span>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="barchart chart-div"></div>
