<div class="header-container" ng-show="!(hideHeader)">
    <span class="header-text pull-left" ng-bind="options.table.prettyName"></span>

    <options-menu parent-element="element" export-function="makeCountByExportObject" button-text="optionsMenuButtonText" show-button-text="showOptionsMenuButtonText">
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Database</label>
            <select class="form-control" ng-model="options.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Table</label>
            <select class="form-control" ng-model="options.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Count Field</label>
            <select class="form-control" ng-model="options.field" ng-required="true" ng-disabled="!(fields.length > 0)" ng-options="field.prettyName for field in fields" ng-change="handleChangeField()">
                <option disabled selected value="">Please choose a field</option>
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Aggregation</label>
            <select class="form-control" ng-model="options.aggregation" ng-required="true" ng-disabled="!(fields.length > 0)" ng-change="handleChangeAggregation()">
                <option value="count">Count</option>
                <option value="min">Minimum</option>
                <option value="max">Maximum</option>
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions) && (options.aggregation !== 'count')">
            <label>Value Field (Y Axis)</label>
            <select class="form-control" ng-model="options.aggregationField" ng-required="true" ng-disabled="!(fields.length > 0)" ng-options="field.prettyName for field in fields" ng-change="handleChangeAggregationField()">
            </select>
        </div>

        <div class="form-group">
            <label>Value Limit</label>
            <div class="input-group">
                <input type="number" min="1" class="form-control" ng-model="options.limitCount" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default refresh" title="Refresh" ng-click="handleChangeLimit()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </div>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container">
    <h4 class="pull-left"><span class="count text-primary ng-binding" ng-bind="count"></span> values</h4>

    <div class="filter-reset pull-right" ng-class="{true: 'hidden', false: ''}[filterSet === undefined]" title="{{filterSet.key}}={{filterSet.value}}">
        <span class="filter-label" ng-bind="filterSet.value"></span>
        <span class="glyphicon glyphicon-remove" ng-click="clearFilter()"></span>
    </div>
</div>

<div class="clearfix"></div>

<div class="count-by-grid"></div>
