<div class="overlay database-overlay" ng-class="{true: 'sr-only', false: ''}[activeDataset.data]"></div>

<ul class="nav navbar-nav overlay-above">
    <li class="dropdown">
        <a data-toggle="dropdown" ng-bind="activeDataset.name" class="dropdown-toggle primary" href="#" ng-click="activeDataset.info = 'sr-only'"><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li ng-repeat="dataset in datasets" ng-class="{true: 'active', false: ''}[dataset.name == activeDataset.name]">
            <a href="#" ng-click="connectToPreset($index)" ng-bind="dataset.name"></a>
            </li>

            <li class="divider" ng-hide="hideAdvancedOptions"></li>

            <li ng-class="{true: 'active', false: ''}[activeDataset.custom || !(datasets.length > 0)]" ng-hide="hideAdvancedOptions">
            <a data-toggle="modal" href="#customConnectionModal" ng-click="selectCustom()">Custom...</a>
            </li>
        </ul>
    </li>

    <div class="popover fade bottom in {{activeDataset.info}} start-here" style="display: block; top: 51px;">
        <div class="arrow"></div>
        <h3 class="popover-title">Start here!</h3>
        <div class="popover-content">
            <p>Please select a dataset from the menu or create your own custom dataset.</p>
        </div>
    </div>
</ul>

<div class="modal fade neon-popup" id="customConnectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="customConnectionModalLabel" ng-bind="getTitle()"></h4>
            </div>

            <div class="modal-body">
                <div class="neon-well neon-well-dark" ng-show="step === DATASTORE">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dataset Name</label>
                                <input type="text" class="form-control" ng-class="{true: '', false: 'ng-invalid'}[datasetNameIsValid]" ng-model="datasetName" ng-change="validateDatasetName()">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group no-margin">
                                <label>&nbsp;</label>
                                <label class="bottom text-danger" ng-bind="datasetNameIsValid ? '' : 'Please enter a unique name.'" style="display: block;"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Datastore Type</label>
                                <select class="form-control" ng-model="datastoreType" ng-change="changeType()">
                                    <option value="mongo">Mongo</option>
                                    <option value="sparksql">Spark SQL</option>
                                    <option value="elasticsearch">Elasticsearch</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Datastore Host Name</label>
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-model="datastoreHost" ng-change="changeHost()"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="connectToServer()" ng-bind="isLoading ? 'Connecting' : (isConnected ? 'Connected' : 'Connect')" ng-disabled="(isLoading || isConnected)"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="error-label" ng-show="error">Error connecting to datastore.</label>
                </div>

                <div class="neon-well neon-well-dark" ng-repeat="customDatabase in customDatabases" ng-show="step === DATABASE">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Database</label>
                                <select class="form-control" ng-change="selectDatabase(customDatabase)" ng-model="customDatabase.database" ng-disabled="(databases.length == 0)" ng-options="database.name for database in databases">
                                    <option value="">Select Database</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group no-margin">
                                <label>&nbsp;</label>
                                <button class="btn btn-default form-control" ng-click="removeCustomDatabase($index)" ng-hide="($index == 0)">Remove Database</button>
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="customTable in customDatabase.customTables">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ng-show="($index == 0)">Tables</label>
                                    <select class="form-control" ng-change="selectTable(customTable)" ng-model="customTable.table" ng-disabled="(!customDatabase.database.name || customDatabase.tables.length == 0)" ng-options="table.name for table in customDatabase.database.tables">
                                        <option value="">Select Table</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group no-margin">
                                    <label ng-show="($index == 0)">&nbsp;</label>
                                    <button class="btn btn-default form-control" ng-click="removeCustomTable(customDatabase, $index)" ng-hide="($index == 0)">Remove Table</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group no-margin">
                                <button class="btn btn-default form-control" ng-click="addNewCustomTable(customDatabase)" ng-disabled="(customDatabase.database.tables.length == 0)">Add Table</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="step === DATABASE">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-default form-control" ng-click="addNewCustomDatabase()" ng-disabled="(databases.length == 0)">Add Database</button>
                        </div>
                    </div>
                </div>

                <div ng-repeat="customDatabase in customDatabases" ng-show="step === FIELDS">
                    <div class="neon-well neon-well-dark" ng-repeat="customTable in customDatabase.customTables">
                        <div class="row" ng-click="toggleFieldMappingsDisplay(customTable)" style="cursor:pointer;">
                            <div class="col-md-1">
                                <div class="no-margin">
                                    <span class="glyphicon glyphicon-chevron-down" ng-show="!customTable.showFieldMappings"></span>
                                    <span class="glyphicon glyphicon-chevron-up" ng-show="customTable.showFieldMappings"></span>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="no-margin">
                                    <label>Database:</label>
                                    <span ng-bind="customDatabase.database.prettyName"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="no-margin">
                                    <label>Table:</label>
                                    <span ng-bind="customTable.table.prettyName"></span>
                                </div>
                            </div>
                        </div>

                        <div class="neon-well toggled-group" ng-show="customTable.showFieldMappings">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Field</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Type</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mapping</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="field in customTable.table.fields">
                                <div class="col-md-5">
                                    <div class="form-group inner-group truncate">
                                        <span ng-bind="field.columnName" title="{{ field.columnName }}"></span>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group inner-group">
                                        <span ng-bind="getFieldType(customDatabase.database.name, customTable.table.name, field.columnName) | uppercase" ng-hide="isLoading"></span>
                                        <span ng-hide="!isLoading">Loading....</span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group inner-group">
                                        <select class="form-control" ng-change="selectMapping(tempMapping, field, customTable)" ng-model="tempMapping">
                                            <option value="">None</option>
                                            <option value="date">Date</option>
                                            <option value="latitude">Latitude</option>
                                            <option value="longitude">Longitude</option>
                                            <option value="tags">Hashtags</option>
                                            <option value="bar_x_axis">Bar Chart X-Axis</option>
                                            <option value="y_axis">Y-Axis</option>
                                            <option value="line_category">Line Chart Grouping</option>
                                            <option value="count_by">Count By</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="neon-well neon-well-dark" ng-repeat="customRelation in customRelations" ng-show="step === RELATIONS">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="top">Relation</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-default form-control" ng-click="removeCustomRelation($index)">Remove Relation</button>
                            </div>
                        </div>
                    </div>

                    <div class="neon-well" ng-repeat="customRelationDatabase in customRelation.customRelationDatabases">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Database</label>
                                    <select class="form-control" ng-change="selectRelationDatabase(customRelationDatabase)" ng-model="customRelationDatabase.database" ng-disabled="(databases.length == 0)" ng-options="database.name for database in databases">
                                        <option value="">Select Database</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-default form-control" ng-click="removeCustomRelationDatabase(customRelation, $index)" ng-hide="($index == 0)">Remove Database</button>
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="customRelationTable in customRelationDatabase.customRelationTables">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label ng-show="$index == 0">Tables</label>
                                        <select class="form-control" ng-change="selectRelationTable(customRelationTable)" ng-model="customRelationTable.table" ng-disabled="(!customRelationDatabase.database.name || customRelationDatabase.tables.length == 0)" ng-options="table.name for table in customRelationDatabase.database.tables">
                                            <option value="">Select Table</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label ng-show="$index == 0">Fields</label>
                                        <select class="form-control" ng-change="selectRelationField(customRelationTable)" ng-model="customRelationTable.field" ng-disabled="(!customRelationDatabase.database.name || !customRelationTable.table.name || customRelationTable.table.fields.length == 0)" ng-options="field.prettyName for field in customRelationTable.table.fields">
                                            <option value="">Select Field</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-1" ng-hide="$index == 0">
                                    <div class="form-group">
                                        <span class="glyphicon glyphicon-trash"
                                            ng-click="removeCustomRelationTable(customRelationDatabase, $index)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group no-margin">
                                    <button class="btn btn-default form-control" ng-click="addNewCustomRelationTable(customRelationDatabase)" ng-disabled="(customRelationDatabase.database.tables.length == 0)">Add Table</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group no-margin">
                                <button class="btn btn-default form-control" ng-click="addNewCustomRelationDatabase(customRelation)" ng-disabled="(databases.length == 0)">Add Database</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="step === RELATIONS">
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="no-data" ng-hide="customRelations.length">No Relations Set</label>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="step === RELATIONS">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-default form-control" ng-click="addNewCustomRelation()" ng-disabled="(databases.length == 0)">Add Relation</button>
                        </div>
                    </div>
                </div>

                <div ng-show="step === LAYOUT">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="no-data" ng-hide="customVisualizations.length">No Visualizations Added</label>
                            </div>
                        </div>
                    </div>

                    <div class="neon-well" ng-repeat="customVisualization in customVisualizations">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Visualization</label>
                                    <select class="form-control" ng-change="selectVisualization(customVisualization)" ng-model="customVisualization.type" ng-options="visualization.type as visualization.name for visualization in visualizations">
                                        <option value="">Select Visualization</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group no-margin">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-default form-control" ng-click="removeCustomVisualization($index)">
                                        Remove Visualization
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="showVisualizationDatabaseProperties(customVisualization)">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Database</label>
                                    <select class="form-control" ng-model="customVisualization.database" ng-change="selectCustomVisualizationDatabase(customVisualization)" ng-options="customDatabase.database.name as customDatabase.database.name for customDatabase in customDatabases">
                                        <option value="">Select Database</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Table</label>
                                    <select class="form-control" ng-model="customVisualization.table" ng-options="table for table in customVisualization.availableTables">
                                        <option value="">Select Table</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="customVisualization.type">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[customVisualization.sizeX < customVisualization.minSizeX]">
                                    <label ng-bind="getWidthLabel(customVisualization)"></label>
                                    <input class="form-control" type="number" ng-model="customVisualization.sizeX"/>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[customVisualization.sizeY < customVisualization.minSizeY]">
                                    <label ng-bind="getHeightLabel(customVisualization)"></label>
                                    <input class="form-control" type="number" ng-model="customVisualization.sizeY"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-default form-control" ng-click="addNewCustomVisualization()">Add Visualization</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span>Click 'Next' to go to the dashboard to further setup your layout.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span>Once finished, save your changes by going to 'Options' then 'Save Current State'.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="previousStep()" ng-show="step > DATASTORE">Previous</button>
                <button type="button" class="btn btn-default" ng-click="nextStep()" ng-disabled="isStepInvalid()">Next</button>
            </div>
        </div>
    </div>
</div>
