<div class="header-container" ng-show="!(hideHeader)">
    <span class="header-text pull-left" ng-bind="options.table.prettyName"></span>

    <options-menu parent-element="element" button-text="optionsMenuButtonText" show-button-text="showOptionsMenuButtonText">
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Database</label>
            <select class="form-control" ng-model="options.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Table</label>
            <select class="form-control" ng-model="options.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Node Field</label>
            <select class="form-control" ng-model="options.selectedNodeField" ng-options="field.prettyName for field in fields" ng-required="true" ng-disabled="(fields.length == 0)" ng-change="clearFilters()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Linked Node(s) Field</label>
            <select class="form-control" ng-model="options.selectedLinkField" ng-options="field.prettyName for field in fields" ng-required="false" ng-disabled="(fields.length == 0)" ng-change="clearFilters()">
                <option value="">None</option>
            </select>
        </div>

        <div class="form-group" ng-hide="!(options.selectedNodeField && options.selectedNodeField.columnName)">
            <label ng-bind="'Set Filter on ' + options.selectedNodeField.prettyName"></label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{'Enter ' + options.selectedNodeField.prettyName + ' to Filter'}}" ng-model="options.selectedNode" ng-disabled="!(options.selectedNodeField)">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default refresh" title="Add Node Filter" ng-click="selectNode()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>

            <div class="input-group">
                <select class="form-control" ng-model="options.selectedNode" ng-options="node for node in nodes track by node" ng-required="false" ng-disabled="(nodes.length == 0) || !(options.selectedNodeField)" ng-change="selectNode()">
                    <option value="" ng-bind="'Select ' + options.selectedNodeField.prettyName + ' to Filter...'"></option>
                </select>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default refresh" title="Refresh Node List" ng-click="queryForData(false, true)">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Graph Node Limit</label>
            <div class="input-group">
                <input type="number" min="1" class="form-control" ng-model="options.nodeLimit" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default refresh" title="Refresh" ng-click="queryForData()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="btn btn-default" ng-class="{true: 'active', false: ''}[options.reloadOnFilter]" title="Reload Graph on Filter">
                <input type="checkbox" ng-model="options.reloadOnFilter" style="display:none" ng-value="false"/>
                Reload Graph on Filter
            </label>
        </div>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container">
    <button type="button" class="btn btn-default header-item" title="Load Graph" ng-click="queryForData(true)">
        Load Graph
    </button>

    <div class="header-item filter-reset pull-right" ng-repeat="value in filteredNodes" title="{{options.selectedNodeField.prettyName}}={{value}}">
        <span class="filter-label" ng-bind="value"></span>
        <span class="glyphicon glyphicon-remove" ng-click="removeFilter(value)"></span>
    </div>
</div>

<div class="clearfix"></div>

<div class="directed-graph">
    <div class="directed-graph-container directed-graph-container-{{uniqueId}}"></div>
</div>
