<div class="directed-graph {{uniqueId}}">
    <div class="config-row-div">
        <div class="chart-options pull-right">
            <a class="btn btn-lg text-muted collapsed" data-toggle="collapse" data-target=".{{uniqueId}} .graph-options" data-animation=false
              ng-click="toggleOptionsDisplay()">
              <span class="glyphicon glyphicon-cog"></span>
              <span class="caret"></span>
            </a>
            <div class="popover bottom graph-options">
                <div class="arrow"></div>
                <div class="popover-content">
                    <div class="form-group">
                        <select ng-options="user for user in users track by user" ng-model="selectedUser">
                            <option value="">Select User</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-reset pull-right" ng-repeat="field in groupFields">
            {{field}}
            <a class="btn" ng-click="removeFilter(field)">
             <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div id="node-click-name">
            Shift-click to view node
        </div>
    </div>
    <div id="directed-graph-div-{{uniqueId}}"></div>
</div>
