<div class="filter-state-view">
    <div ng-if="filterStates.raw.length === 0" class="filter-state-warning">No filters currently set</div>
    <div ng-repeat="(db, value) in filterStates.formatted">
        <table class="table table-striped" ng-repeat="(table, states) in value">
            <thead>
                <tr>
                    <th>{{db}}</th>
                    <th>{{table}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="state in states">
                    <td></td>
                    <td>{{state}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>