<div class="tray-mirror filter-tray collapse">
  <div class="inner" style="height: 134px"></div>
</div>
<div id="filter-tray" class="tray filter-tray panel panel-default collapse">

  <div class="container panel-body">

    <h4 class="pull-left">Create Filters</h4>

    <div class="pull-right">
      <button type="button" class="btn btn-danger" ng-click="resetFilters()">
          Reset
      </button>
    </div>

    <div class="form-inline pull-right">
      <div class="btn-group" >
        <label class="btn btn-default" ng-class="{true: 'active', false: ''}[andClauses]">
          <input type="radio" ng-model="andClauses" style="display:none" ng-value="true" ng-change="updateAndClauses()">AND
        </label>
        <label class="btn btn-default" ng-class="{true: '', false: 'active'}[andClauses]">
          <input type="radio" ng-model="andClauses" style="display:none" ng-value="false" ng-change="updateAndClauses()">OR
        </label>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="filter form-inline clearfix" ng-repeat="filterRow in filterTable.getFilterRows()">
      <div class="form-group">
        <select class="form-control" ng-model="filterRow.tableName" ng-options="tableName for tableName in tableNames" ng-disabled="(tableNames.length < 2)" ng-change="updateFieldsForFilterRow(filterRow)">
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="filterRow.columnValue" ng-disabled="!(filterRow.columnOptions.length > 0)" ng-options="column for column in filterRow.columnOptions" ng-change="dirtyFilterRow(filterRow)">
        </select>
      </div>
      <div class="form-group">
        <select class="form-control"  ng-model="filterRow.operatorValue" ng-disabled="!(filterRow.columnOptions.length > 0)" ng-options="operator for operator in filterTable.operatorOptions" ng-change="dirtyFilterRow(filterRow)">
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" size="42" placeholder="Value" ng-model="filterRow.value" ng-change="dirtyFilterRow(filterRow)">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default refresh" ng-disabled="!(filterRow.dirty)" ng-click="updateFilterRow(filterRow.tableName, filterRow.index)">
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
      </div>
      <div class="form-group pull-right">
        <button type="button" class="btn delete" ng-click="removeFilterRow(filterRow.tableName, filterRow.index)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>

    <div class="filter filter-new form-inline">
      <div class="form-group">
        <select id="filter-table-selection" class="form-control" ng-model="selectedTableName" ng-options="tableName for tableName in tableNames" ng-disabled="(tableNames.length < 2)" ng-change="updateFields()">
        </select>
      </div>
      <div class="form-group">
        <select id="filter-field-selection" class="form-control" ng-model="selectedField" ng-disabled="!(fields.length > 0)" ng-options="field for field in fields">
        </select>
      </div>
      <div class="form-group">
        <select id="filter-operator-selection" class="form-control"  ng-model="selectedOperator" ng-disabled="!(fields.length > 0)" ng-options="operator for operator in filterTable.operatorOptions">
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="filter-value" size="42" placeholder="Value"  ng-model="selectedValue" 
          ng-disabled="!(fields.length > 0)" ng-required="true">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="addFilterRow()">
          Add Filter
        </button>
      </div>
    </div>

  </div>
</div>
