<div class="header-container header-container-large" ng-show="!(navbarItem)">
    <span class="count text-primary pull-left">Filter Builder</span>

    <div class="pull-right">
      <div class="btn-group" >
        <label class="btn btn-default" ng-class="{true: 'active', false: ''}[andClauses]">
          <input type="radio" ng-model="andClauses" style="display:none" ng-value="true" ng-change="updateAndClauses()">AND
        </label>
        <label class="btn btn-default" ng-class="{true: '', false: 'active'}[andClauses]">
          <input type="radio" ng-model="andClauses" style="display:none" ng-value="false" ng-change="updateAndClauses()">OR
        </label>
      </div>

      <button type="button" class="btn btn-danger" title="Reset Filter Builder" ng-disabled="filterTable.getFilterRows().length == 0" ng-click="resetFilters()">
          Reset Filter Builder
      </button>
    </div>
</div>

    <h4 class="pull-left" ng-show="(navbarItem)">Create Filters</h4>

    <div class="pull-right" ng-show="(navbarItem)">
      <div class="btn-group" >
        <label class="btn btn-default" ng-class="{true: 'active', false: ''}[andClauses]">
          <input type="radio" ng-model="andClauses" style="display:none" ng-value="true" ng-change="updateAndClauses()">AND
        </label>
        <label class="btn btn-default" ng-class="{true: '', false: 'active'}[andClauses]">
          <input type="radio" ng-model="andClauses" style="display:none" ng-value="false" ng-change="updateAndClauses()">OR
        </label>
      </div>

      <button type="button" class="btn btn-danger" title="Reset Filter Builder" ng-disabled="filterTable.getFilterRows().length == 0" ng-click="resetFilters()">
          Reset
      </button>
    </div>

    <div class="clearfix"></div>

    <div class="labels form-inline" ng-show="!(navbarItem)">
      <div class="form-group">
        <label ng-show="!(navbarItem)">Database</label>
      </div>
      <div class="form-group">
        <label ng-show="!(navbarItem)">Table</label>
      </div>
      <div class="form-group">
        <label ng-show="!(navbarItem)">Field</label>
      </div>
      <div class="form-group">
        <label ng-show="!(navbarItem)">Operator</label>
      </div>
      <div class="form-group">
        <label ng-show="!(navbarItem)">Value</label>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="filter form-inline" ng-repeat="filterRow in filterTable.getFilterRows()">
      <div class="form-group">
        <select class="form-control" ng-model="filterRow.database" ng-options="database.prettyName for database in databases" ng-disabled="(databases.length < 2) || !(navbarItem)" ng-change="updateTablesForFilterRow(filterRow)">
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="filterRow.table" ng-options="table.prettyName for table in filterRow.tableOptions" ng-disabled="(tables.length < 2) || !(navbarItem)" ng-change="updateFieldsForFilterRow(filterRow)">
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="filterRow.columnValue" ng-options="column for column in filterRow.columnOptions" ng-disabled="(filterRow.columnOptions.length < 2) || !(navbarItem)" ng-change="dirtyFilterRow(filterRow)">
        </select>
      </div>
      <div class="form-group">
        <select class="form-control"  ng-model="filterRow.operatorValue" ng-options="operator for operator in filterTable.operatorOptions" ng-disabled="(filterTable.operatorOptions.length < 2)" ng-change="dirtyFilterRow(filterRow)">
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Value" ng-keyup="$event.keyCode == 13 && updateFilterRow(filterRow.database.name, filterRow.table.name, filterRow.index)" ng-model="filterRow.value" ng-change="dirtyFilterRow(filterRow)" ng-show="!(filterRow.isDate)">
        <div class="neon-datetimepicker dropdown" ng-show="(filterRow.isDate)">
            <button class="btn btn-default dropdown-toggle" id="date-dropdown-{{$index}}" role="button" data-toggle="dropdown" data-target="#" href="#">
                <span class="glyphicon glyphicon-calendar"></span> {{filterRow.value ? filterRow.value.toDateString() : "Choose"}}
            </button>
            <ul class="dropdown-menu" role="menu">
                <datetimepicker data-ng-model="filterRow.value" data-on-set-time="dirtyFilterRow(filterRow)" data-datetimepicker-config="{ dropdownSelector: '#date-dropdown-{{$index}}', startView: 'year', minView: 'hour' }"/>
            </ul>
        </div>
      </div>
      <div class="form-group" ng-show="(navbarItem)">
        <button type="button" class="btn btn-default refresh" title="Refresh" ng-disabled="!(filterRow.dirty)" ng-click="updateFilterRow(filterRow.database.name, filterRow.table.name, filterRow.index)">
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
      </div>
      <div class="form-group pull-right" ng-show="(navbarItem)">
        <button type="button" class="btn delete" title="Remove" ng-click="removeFilterRow(filterRow.database.name, filterRow.table.name, filterRow.index)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div class="form-group form-group-button" ng-show="!(navbarItem)">
          <div class="btn-group">
              <button type="button" class="btn btn-default refresh" title="Refresh" ng-disabled="!(filterRow.dirty)" ng-click="updateFilterRow(filterRow.database.name, filterRow.table.name, filterRow.index)">
                  <span class="glyphicon glyphicon-refresh"></span>
              </button>
              <button type="button" class="btn btn-danger" title="Remove" ng-click="removeFilterRow(filterRow.database.name, filterRow.table.name, filterRow.index)">
                  <span class="glyphicon glyphicon-remove"></span>
              </button>
          </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="filter filter-new form-inline">
      <div class="form-group">
        <select id="filter-table-selection" class="form-control" ng-model="selectedDatabase" ng-options="database.prettyName for database in databases" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
        </select>
      </div>
      <div class="form-group">
        <select id="filter-table-selection" class="form-control" ng-model="selectedTable" ng-options="table.prettyName for table in tables" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
        </select>
      </div>
      <div class="form-group">
        <select id="filter-field-selection" class="form-control" ng-model="selectedField" ng-disabled="(fields.length == 0)" ng-options="field for field in fields" ng-change="onSelectedFieldChange()">
        </select>
      </div>
      <div class="form-group">
        <select id="filter-operator-selection" class="form-control"  ng-model="selectedOperator" ng-options="operator for operator in filterTable.operatorOptions" ng-disabled="(fields.length == 0)" ng-change="onSelectedOperatorChange()">
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="filter-value" size="42" placeholder="Value" ng-keyup="$event.keyCode == 13 && addFilterRow()" ng-model="selectedValue" ng-disabled="(fields.length == 0)" ng-required="true" ng-show="!(selectedFieldIsDate)" ng-change="onSelectedValueChange()">
        <div class="neon-datetimepicker dropdown" ng-show="(selectedFieldIsDate)">
            <button class="btn btn-default dropdown-toggle" id="date-dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                <span class="glyphicon glyphicon-calendar"></span> {{selectedValue ? selectedValue.toDateString() : "Choose"}}
            </button>
            <ul class="dropdown-menu" role="menu">
                <datetimepicker data-ng-model="selectedValue" data-on-set-time="onSelectedValueChange()" data-datetimepicker-config="{ dropdownSelector: '#date-dropdown', startView: 'year', minView: 'hour' }"/>
            </ul>
        </div>
      </div>
      <div class="form-group" ng-show="(navbarItem)">
        <button type="button" class="btn btn-primary" title="Add" ng-click="addFilterRow()">
          Add Filter
        </button>
      </div>
      <div class="form-group form-group-button" ng-show="!(navbarItem)">
        <button type="button" class="btn btn-primary" title="Add" ng-click="addFilterRow()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
