<div class="dropdown filter-tray-filters" ng-show="filters.formatted.length > 0">
    <a class="dropdown-toggle navbar-text" data-toggle="dropdown" hre="#" role="button">
        <span class="filter-icon"></span>
        <span ng-bind="filters.formatted.length + ' filter' + ((filters.formatted.length === 1) ? '': 's')"></span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-repeat="filter in filters.formatted" class="filter-tray-item filter-tray-filter">
            <span class="filter-remove-btn glyphicon glyphicon-trash" ng-click="handleFilterRemove(filter.ids)"></span>
            <span class="filter-label">{{filter.name}}</span>
        </li>
        <li class="divider"></li>
        <li ng-show="showLinksPopupButton">
            <a id="linksPopupButton" href="#" class="filter-tray-item" data-toggle="modal" data-target=".links-popup" data-links-json="" title="Open external application...">
                <span class="glyphicon glyphicon-link"></span> Open External Application
            </a>
        </li>
    </ul>
</div>





