<div class="header-container" ng-show="!(hideHeader)">
    <span class="header-text pull-left">{{options.table.prettyName}}</span>

    <options-menu parent-element="element" export-function="makeLinechartExportObject" button-text="optionsMenuButtonText" show-button-text="showOptionsMenuButtonText" ng-show="!(hideAdvancedOptions)">
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Database</label>
            <select class="form-control" ng-model="options.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
            </select>
        </div>
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Table</label>
            <select class="form-control" ng-model="options.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
            </select>
        </div>
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Date Field (X Axis)</label>
            <select class="form-control" ng-model="options.attrX" ng-options="field for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
            </select>
        </div>
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Aggregation</label>
            <select class="form-control" ng-model="options.aggregation" ng-disabled="!(fields.length > 0)">
                <option value="count">Count</option>
                <option value="sum">Sum</option>
                <option value="average">Average</option>
                <option value="min">Minimum</option>
                <option value="max">Maximum</option>
            </select>
        </div>
        <div class="form-group" ng-show="!(hideAdvancedOptions) && (options.aggregation !== 'count')">
            <label>Value Field (Y Axis)</label>
            <select class="form-control" ng-model="options.attrY" ng-options="field for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
            </select>
        </div>
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Group Field</label>
            <select class="form-control" ng-model="options.categoryField" ng-options="field for field in fields" ng-disabled="!(fields.length > 0)">
                <option value="">None</option>
            </select>
        </div>
        <div class="form-group">
            <label>Date Granularity</label>
            <div class="btn-group">
              <label class="btn btn-default active" ng-class="{true: 'active', false: ''}[options.granularity === 'day']">
                <input type="radio" style="display:none" ng-model="options.granularity" value="day"> Day
              </label>
              <label class="btn btn-default" ng-class="{true: 'active', false: ''}[options.granularity === 'hour']">
                <input type="radio" style="display:none" ng-model="options.granularity" value="hour"> Hour
              </label>
            </div>
            <div class="clearfix"></div>
        </div>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container">
    <div class="legend">
        <div class="filter-reset pull-right" ng-class="{true: '', false: 'hidden'}[brushExtent.length > 0]" title="Date from {{brushExtent[0].toUTCString()}} to {{brushExtent[1].toUTCString()}}">
            <span class="filter-label">Date Filter</span>
            <span class="glyphicon glyphicon-remove" ng-click="removeBrush()"></span>
        </div>

        <div class="legend-item legend-item-clickable" title="{{colorMapping.series}} {{getLegendItemAggregationText(colorMapping)}}" ng-repeat="colorMapping in colorMappings" ng-click="toggleSeries(colorMapping.series)" ng-class="{true: 'legend-hidden', false: ''}[colorMapping.hidden]">
            <span class="legend-icon" style="background-color: {{colorMapping.color}}"></span>
            <span class="legend-text">{{colorMapping.series}}</span>
            <span class="legend-text legend-text-small">{{getLegendItemAggregationText(colorMapping)}}</span>
        </div>

        <span class="no-data pull-left" ng-show="noData">No data for current filters.</span>
    </div>
</div>

<div class="clearfix"></div>

<div class="linechart"></div>
