<div class="header-container">
    <span class="header-text pull-left">{{options.selectedTable.name}}</span>

    <options-menu parent-element="element">
        <div class="form-group">
            <label>Table</label>
            <select class="form-control" ng-model="options.selectedTable" ng-options="table.name for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFieldsAndQueryForData()">
            </select>
        </div>
        <div class="form-group">
            <label>X Axis (Date Field)</label>
            <select class="form-control" ng-model="options.attrX" ng-options="field for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
            </select>
        </div>
        <div class="form-group">
            <label>Y Axis</label>
            <select class="form-control" ng-model="options.attrY" ng-options="field for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
                <option value="" ng-show="(options.aggregation == 'count')">*</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="options.aggregation" ng-disabled="!(fields.length > 0)">
                <option value="count">Count</option>
                <option value="sum">Sum</option>
                <option value="average">Average</option>
            </select>
        </div>
        <div class="form-group">
            <label>Categorize by</label>
            <select class="form-control" ng-model="options.categoryField" ng-options="field for field in fields" ng-required="true" ng-disabled="!(fields.length > 0)">
                <option value="">None</option>
            </select>
        </div>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container">
    <div class="legend legend-right">
        <div class="legend-item" ng-class="{true: '', false: 'hidden'}[colorMappings.length >= seriesLimit]">
            <span class="legend-text text-muted"><strong>Top {{seriesLimit}}</strong></span>
        </div>

        <div class="legend-item legend-item-clickable" title="{{colorMapping.series}}" ng-repeat="colorMapping in colorMappings" ng-click="toggleSeries(colorMapping.series)" ng-class="{true: 'legend-hidden', false: ''}[colorMapping.hidden]">
            <span class="legend-icon" style="background-color: {{colorMapping.color}}"></span>
            <span class="legend-text">{{colorMapping.series}}</span>
            <span ng-show="options.aggregation != 'average'" class="legend-count text-muted">({{colorMapping.total | numberShort}})</span>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="linechart"></div>
