<div class="header-container menu-container">
    <options-menu parent-element="element" button-text="optionsMenuButtonText" show-button-text="showOptionsMenuButtonText">
        <div class="form-group layer-options" ng-repeat="layer in options.layers">
            <label>{{layer.name}}</label>
            <div class="btn-group">
                <label class="btn btn-default" ng-class="{true: 'active', false: ''}[layer.visible === true]">
                    <input type="checkbox" style="display:none" ng-model="layer.visible" ng-change="updateLayerVisibility(layer)">
                    <span class="glyphicon glyphicon-eye-open"></span> Visible
                </label>
                <label class="btn btn-default" ng-class="{true: 'active', false: ''}[layer.active === true]">
                    <input type="checkbox" style="display:none" ng-model="layer.active" ng-change="updateFilteringOnLayer(layer)">
                    <span class="glyphicon glyphicon-filter"></span> Filter
                </label>
            </div>
            <div class="clearfix"></div>
        </div>
    </options-menu>
</div>

<div class="header-container filter-container">
    <div class="filter-reset pull-right" ng-class="{true: '', false: 'hidden'}[showFilter]">
        <span class="filter-label">Filter</span>
        <span class="glyphicon glyphicon-remove" ng-click="clearFilters(true)"></span>
    </div>
</div>

<div class="footer-container">
    <span class="footer-text">SHIFT + DRAG to filter</span>
</div>
