<div class="header-container" ng-show="!(hideHeader)">
    <span class="header-text pull-left" ng-bind="options.table.prettyName"></span>

    <!-- The optionsMenu directive represents a gear icon and popover element containing the options listed here.  Please see optionsMenu.js for more information. -->
    <!-- Note that we're passing scope variables/functions to the optionsMenu for its own use. -->
    <options-menu parent-element="element" export-function="makeExportObject" button-text="optionsMenuButtonText" show-button-text="showOptionsMenuButtonText">
        <!-- Let the user select the database from the active dataset for this visualization. -->
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Database</label>
            <select class="form-control" ng-model="options.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
            </select>
        </div>

        <!-- Let the user select the table from the active dataset for this visualization. -->
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Table</label>
            <select class="form-control" ng-model="options.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
            </select>
        </div>

        <!-- Let the user select the field from the active dataset for this visualization. -->
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Field</label>
            <select class="form-control" ng-model="options.field" ng-options="field.prettyName for field in fields" ng-required="true" ng-disabled="(fields.length < 2)" ng-change="onFieldChanged()">
                <option disabled selected value="">Please choose a field</option>
            </select>
        </div>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container">
    <!-- Using ng-bind is the optimal way of converting javascript code and angular scope variables to text for HTML elements. -->
    <h4 class="pull-left"><span class="count text-primary" ng-bind="data.length"></span> <span ng-bind="(data.length === 1 ? 'result' : 'results')"></span></h4>

    <!-- Use the header-item style class on buttons or notifications to make them the same color/size as the filter-reset notifications (see below). -->
    <span class="pull-left header-item" style="margin-left: 5px;" ng-show="!(options.field && options.field.columnName)">
        Choose Field
    </span>

    <!-- The filter-reset notification displays the active filter using the Neon-GTD filter styling with an X button to remove the filter. -->
    <div class="header-item filter-reset pull-right" ng-class="{true: 'hidden', false: ''}[filter === undefined]" title="{{filter.field}}={{filter.value}}">
        <span class="filter-label" ng-bind="filter.value"></span>
        <span class="border-left glyphicon glyphicon-remove" ng-click="removeFilter()"></span>
    </div>
</div>

<div class="clearfix"></div>

<!-- TODO:  Replace this code with your own data visualization! -->
<div ng-repeat="datum in data">
    <a ng-bind="'Filter on ' + datum[options.field.columnName]" ng-class="{true: 'bold', false: ''}[filter !== undefined && filter.field == options.field.columnName && filter.value == datum[options.field.columnName]]" ng-click="setFilter(options.field.columnName, datum[options.field.columnName])"></a>
</div>
