<div class="header-container" ng-show="!(hideHeader)">
    <div class="title header-text pull-left" ng-bind="(bindTitle != undefined) ? bindTitle : options.table.prettyName + ' / ' + options.tagField.prettyName"></div>

    <options-menu parent-element="element" export-function="makeTagCloudExportObject"  button-text="'No tag data'" show-button-text="showOptionsMenuButtonText">
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Database</label>
            <select class="form-control" ng-model="options.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
            </select>
        </div>
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Table</label>
            <select class="form-control" ng-model="options.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
            </select>
        </div>
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Data Field</label>
            <select class="form-control" ng-model="options.tagField" ng-options="field.prettyName for field in fields" ng-required="true" ng-disabled="(fields.length == 0)" ng-change="updateTagField()">
            </select>
        </div>
        <div class="form-group">
            <label>Show records with</label>
            <div class="btn-group">
                <label class="btn btn-default" ng-class="{true: 'active', false: ''}[options.andTags]" ng-disabled="(filterTags.length <= 1)">
                    <input type="radio" ng-model="options.andTags" style="display:none" ng-value="true">
                    All filters
                </label>
                <label class="btn btn-default" ng-class="{true: '', false: 'active'}[options.andTags]" ng-disabled="(filterTags.length <= 1)">
                    <input type="radio" ng-model="options.andTags" style="display:none" ng-value="false">
                    Any filters
                </label>
            </div>
            <div class="clearfix"></div>
        </div>
        <translation-options from-language-field="options.translate.fromLanguageField" to-language-field="options.translate.toLanguageField"
            from-language-options="translationLanguages.fromLanguageOptions" to-language-options="translationLanguages.toLanguageOptions"
            show-translation="options.showTranslation">
        </translation-options>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container" ng-show="(filterTags.length > 0)">
    <div class="header-item filter-reset pull-right" ng-repeat="tag in filterTags"
        title="{{options.tagField.prettyName}}={{options.showTranslation ? tag.nameTranslated : tag.name}}">
        <span class="filter-label" ng-bind="tag.name" ng-show="!options.showTranslation"></span>
        <span class="filter-label" ng-bind="tag.nameTranslated" ng-show="options.showTranslation"></span>
        <span class="glyphicon glyphicon-remove" ng-click="removeFilter(tag.name)"></span>
    </div>
</div>

<div class="clearfix"></div>

<div class="tagcloud" ng-show="filterTags.length > 0 || data.length > 0">
    <a ng-click="addTagFilter(tagCount.key, tagCount.keyTranslated)" class="tag" ng-repeat="tagCount in data" rel="{{tagCount.count}}" title="Count:  {{tagCount.count}}" ng-bind="tagCount.key" ng-show="!options.showTranslation"></a>
    <a ng-click="addTagFilter(tagCount.key, tagCount.keyTranslated)" class="tag" ng-repeat="tagCount in data" rel="{{tagCount.count}}" title="Count:  {{tagCount.count}}" ng-bind="tagCount.keyTranslated" ng-show="options.showTranslation"></a>
</div>
