<div class="header-container" ng-show="!(hideHeader)">
    <span class="header-text pull-left">{{options.table.prettyName}}</span>

    <options-menu parent-element="element">
        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Database</label>
            <select class="form-control" ng-model="options.database" ng-options="database.prettyName for database in databases" ng-required="true" ng-disabled="(databases.length < 2)" ng-change="updateTables()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Table</label>
            <select class="form-control" ng-model="options.table" ng-options="table.prettyName for table in tables" ng-required="true" ng-disabled="(tables.length < 2)" ng-change="updateFields()">
            </select>
        </div>

        <div class="form-group" ng-show="!(hideAdvancedOptions)">
            <label>Date Field</label>
            <select class="form-control" ng-model="options.dateField" ng-options="field for field in fields" ng-required="true" ng-disabled="(fields.length == 0)" ng-change="updateDateField()">
            </select>
        </div>

        <div class="form-group pull-right timeseries-selector-form-group" ng-hide="!(data.length > 1)">
          <div class="input-group timeseries-selector">
            <select class="form-control" ng-model="options.primarySeries" ng-options="series.name for series in data">
            </select>
            <span class="input-group-btn">
              <button class="btn" type="button" ng-class="{true: 'btn-primary', false: 'btn-danger'}[options.collapsed]" ng-click="options.collapsed = !options.collapsed">
                <span class="glyphicon" ng-class="{true: 'glyphicon-plus', false: 'glyphicon-minus'}[options.collapsed]"></span>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
            <label>Date Granularity</label>
            <div class="btn-group">
              <label class="btn btn-default" ng-class="{true: 'active', false: ''}[options.granularity === 'year']">
                <input type="radio" style="display:none" ng-model="options.granularity" value="year"> Year
              </label>
              <label class="btn btn-default" ng-class="{true: 'active', false: ''}[options.granularity === 'month']">
                <input type="radio" style="display:none" ng-model="options.granularity" value="month"> Month
              </label>
              <label class="btn btn-default active" ng-class="{true: 'active', false: ''}[options.granularity === 'day']">
                <input type="radio" style="display:none" ng-model="options.granularity" value="day"> Day
              </label>
              <label class="btn btn-default" ng-class="{true: 'active', false: ''}[options.granularity === 'hour']">
                <input type="radio" style="display:none" ng-model="options.granularity" value="hour"> Hour
              </label>
            </div>
            <div class="clearfix"></div>
        </div>
    </options-menu>
</div>

<div class="clearfix"></div>

<div class="header-container filter-container">
    <div class="neon-datetimepicker dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
            <span class="glyphicon glyphicon-calendar"></span> Filter <span class="caret"></span>
        </button>
        <button class="btn btn-default reset" ng-class="{true: '', false: 'disabled'}[brush.length > 0]" ng-click="clearBrush()">
            <span class="glyphicon glyphicon-remove"></span> Reset
        </button>
        <ul class="dropdown-menu" role="menu">
            <div>
                <label>Start Date</label>
                <label>End Date</label>
            </div>
            <!-- Create a datetimepicker for each granularity because you can't change the configuration dynamically. -->
            <datetimepicker ng-show="(options.granularity === 'hour')" data-ng-model="filter.start" data-datetimepicker-config="{ startView: 'hour', minView: 'hour' }"/>
            <datetimepicker ng-show="(options.granularity === 'day')" data-ng-model="filter.start" data-datetimepicker-config="{ startView: 'day', minView: 'day' }"/>
            <datetimepicker ng-show="(options.granularity === 'month')" data-ng-model="filter.start" data-datetimepicker-config="{ startView: 'month', minView: 'month' }"/>
            <datetimepicker ng-show="(options.granularity === 'year')" data-ng-model="filter.start" data-datetimepicker-config="{ startView: 'year', minView: 'year' }"/>
            <datetimepicker ng-show="(options.granularity === 'hour')" data-ng-model="filter.end" data-datetimepicker-config="{ startView: 'hour', minView: 'hour' }"/>
            <datetimepicker ng-show="(options.granularity === 'day')" data-ng-model="filter.end" data-datetimepicker-config="{ startView: 'day', minView: 'day' }"/>
            <datetimepicker ng-show="(options.granularity === 'month')" data-ng-model="filter.end" data-datetimepicker-config="{ startView: 'month', minView: 'month' }"/>
            <datetimepicker ng-show="(options.granularity === 'year')" data-ng-model="filter.end" data-datetimepicker-config="{ startView: 'year', minView: 'year' }"/>
            <div class="pull-right">
                <button class="btn btn-default" ng-click="handleDateTimePicked()">Save</button>
                <button class="btn btn-default" ng-click="cancelDateTimePicked()">Cancel</button>
            </div>
        </ul>
    </div>

  <h4 class="pull-left"><span class="count text-primary" ng-bind="recordCount | number"></span> records 
  <span ng-bind="(startDateForDisplay) ? ' from ' : ''"></span>
  <span ng-bind="(startDateForDisplay && options.granularity === 'hour') ? (startDateForDisplay.toISOString() | date: 'MMM d, yyyy HH:mm') : ''"></span>
  <span ng-bind="(startDateForDisplay && options.granularity === 'day') ? (startDateForDisplay.toISOString() | date: 'MMMM d, yyyy') : ''"></span>
  <span ng-bind="(startDateForDisplay && options.granularity === 'month') ? (startDateForDisplay.toISOString() | date: 'MMMM yyyy') : ''"></span>
  <span ng-bind="(startDateForDisplay && options.granularity === 'year') ? (startDateForDisplay.toISOString() | date: 'yyyy') : ''"></span>
  <span ng-bind="(endDateForDisplay) ? ' to ' : ''"></span>
  <span ng-bind="(endDateForDisplay && options.granularity === 'hour') ? (endDateForDisplay.toISOString() | date:'MMM d, yyyy HH:mm') : ''"></span>
  <span ng-bind="(endDateForDisplay && options.granularity === 'day') ? (endDateForDisplay.toISOString() | date:'MMMM d, yyyy') : ''"></span>
  <span ng-bind="(endDateForDisplay && options.granularity === 'month') ? (endDateForDisplay.toISOString() | date: 'MMMM yyyy') : ''"></span>
  <span ng-bind="(endDateForDisplay && options.granularity === 'year') ? (endDateForDisplay.toISOString() | date: 'yyyy') : ''"></span>
  <span ng-bind="(startDateForDisplay) ? '(Z)' : ''"></span></h4>
</div>

  <div class="collapsed" ng-class="{true: 'collapsed', false: ''}[options.collapsed]">
    <div timeline-selector-chart timeline-data='data' timeline-brush='brush' collapsed='options.collapsed' extent-dirty='extentDirty' primary-series='options.primarySeries' granularity='options.granularity'></div>
  </div>

  <div class="text-center" ng-class="{true: '', false: 'hidden'}[opencpu.enableMmpp && options.granularity === 'hour' && !eventProbabilitiesDisplayed &&!options.collapsed]">
    <a class="btn" ng-click="runMMPP()">
      Click to run event probability analysis (this may take a few minutes) <span class="glyphicon glyphicon-transfer"></span>
    </a>
  </div>

