<div class="visualization-drag-handle">
    <button type="button" class="btn pull-right"
        ng-click="remove()" 
        ng-mousedown="$event.stopPropagation()">
       <span  class="glyphicon glyphicon-remove"></span>
    </button>
    <button type="button" class="btn pull-right"
        ng-click="toggleSize()" 
        ng-mousedown="$event.stopPropagation()">
       <span  class="glyphicon" ng-class="(oldSize) ? 'glyphicon-resize-small' : 'glyphicon-resize-full'"></span>
    </button>
</div>