<!-- An ng-controller is added before compilation. -->
<div class="visualization {{type + 'Directive'}}" active="active" bindings="bindings" fields="fields" functions="functions">
    <div class="header-container options-container" ng-hide="bindings.hideHeader">
        <div class="title header-text pull-left" ng-bind="createTitle()" title="{{createTitle()}}" style="max-width: 0px;"></div>

        <options-menu parent-element="element" export-function="makeExportObject" resize-menu="resizeOptionsMenu" button-text="functions.createMenuText" show-button-text="functions.showMenuText">
            <translation-options ng-show="translationsOn" on-translate="handleToggleTranslations"
                from-language-change="handleChangeFromLanguage" to-language-change="handleChangeToLanguage"
                from-language-options="languages.fromLanguageOptions" to-language-options="languages.toLanguageOptions">
            </translation-options>

            <layer-options></layer-options>
            <visualization-options class="visualization-options"></visualization-options>
        </options-menu>
    </div>

    <div class="clearfix"></div>

    <!-- Shrink the container instead of hiding it in order to trigger a resize event. -->
    <div class="header-container filter-container" ng-class="{true: 'shrink', false: ''}[functions.hideHeaders()]">
        <visualization-headers class="visualization-headers"></visualization-headers>
    </div>

    <div class="clearfix"></div>

    <visualization-display class="visualization-display" style="height: 0px; width: 0px;"></visualization-display>
</div>

