<div class="header-item filter-reset pull-right" ng-repeat="item in filterData">
    <links-popup-button key="{{getLinksPopupKey(item.value)}}" json="{{getLinksPopupJson(item.value)}}" source="{{visualizationId}}" tooltip="{{item.value}}"
        is-disabled="{{!showLinksPoupButton}}"></links-popup-button>
    <span class="filter-label" title="{{item.title}}" ng-bind="item.display"></span>
    <span class="glyphicon glyphicon-remove" title="{{'Delete Filter ' + item.title}}" ng-click="removeFilter(item.value)"></span>
</div>
