<div class="modal fade neon-popup links-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="customConnectionModalLabel">Open External Applications</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="key in linkKeys">
                    <label class="label-small label-tab" ng-bind-html="getLinkHeader(key)"></label>
                    <label class="text-primary label-block label-small label-tab" ng-if="links[key].length > 0">Applications Available</label>
                    <label class="text-danger label-block label-small label-tab" ng-if="links[key].length == 0">No Applications Available</label>
                    <ul>
                        <li ng-repeat="link in links[key]">
                            <a ng-href="{{link.url}}" target="{{link.tab}}" title="Open {{link.name}} in a new tab" ng-click="logLinkEvent(link.name)">
                                <img alt="{{link.name}}" class="center-block" ng-src="{{link.image}}">
                                <span class="text-uppercase" ng-bind="link.name"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>
